<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Rubytube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/video.js/dist/video.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="container h-100" style="margin-top: 72px">
      <% if notice %>
        <div class="row bg-lightBlue fg-white" style="margin-bottom: 10px">
            <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="row bg-red fg-white" style="margin-bottom: 10px">
          <%= alert %>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
